<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app"> {{message + ' ' + message}}
        <div :id='message'></div>
        <todo-list :list="list">
            <todo-item @delete="handleDelete" v-for="item in list" :title='item.title' :del='item.del' :key='item.key'>
                <template v-slot:pre-icon="{value}">
                    <span v-if="value > 0.5">h图标</span>
                    <span v-else>v图标</span>
                </template>
                <template v-slot:suf-icon>
                    <span>后置图标</span>
                </template>
            </todo-item>
        </todo-list>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        Vue.component('todo-item', {
            props: {
                title: String,
                del: {
                    type: Boolean,
                    default: false,
                },
            },
            template: `
            <li>
                <slot name="pre-icon" :value="value"></slot>
                <span v-if="!del">{{title}}</span>
                <span v-else style="text-decoration: line-through;">{{title}}</span>
                <slot name="suf-icon"></slot>
                <button v-show="!del" @click="handleClick">删除</button>
            </li>
            `,
            data: function (params) {
                return {
                    value: Math.random()
                }
            },
            methods: {
                handleClick() {
                    console.log("click delete");
                    this.$emit('delete', this.title)
                }
            },
        })
        Vue.component('todo-list', {
            props: {
                list: Array,
            },
            template: `
                <ul>
                    <slot></slot>
                </ul>
            `,
            // data: function (params) {
            //     return {
            //         list: [
            //             {
            //                 id: 1,
            //                 title: '课程1',
            //                 del: false
            //             },
            //             {
            //                 id: 2,
            //                 title: '课程2',
            //                 del: true
            //             },
            //         ]
            //     }
            // }
        })
        var vm = new Vue({
            el: '#app',
            data: {
                message: 'helloworld',
                list: [
                    {
                        id: 1,
                        title: '课程1',
                        del: false
                    },
                    {
                        id: 2,
                        title: '课程2',
                        del: true
                    },
                ]
            },
            methods: {
                handleDelete(params) {
                    console.log(params + "click delete");
                },
            },
        })
    </script>
</body>

</html>