<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app"> {{message + ' ' + message}}
        <div :id="message">hsh</div>
        <todo-list :items="items"></todo-list>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        Vue.component('todo-item', {
            props: {
                title: String,
                del: {
                    type: Boolean,
                    default: false,
                }
            },
            template: `
            <li>
                <span v-if="!del">{{title}}</span>
                <span v-else style="text-decoration: line-through">{{title}}</span>
                <button v-show="!del" @click="handleClick">删除</button>
            </li>
            `,
            data: function () {
                return {}
            },
            methods: {
                handleClick() {
                    console.log("点击删除了")
                    this.$emit('delete', this.title)
                }
            }
        })
        Vue.component('todo-list', {
            props: {
                items: Array
            },
            template: `
            <ul>
                <todo-item @delete="handleDelete" v-for="item in items" :title="item.title" :del="item.del" :key="item.id"></todo-item>
            </ul>
            `
            ,
            data: function () {
                return {}
            },
            methods: {
                handleDelete(val) {
                    console.log("handleDelete", val)
                }
            }
        })
        var vm = new Vue({
            el: '#app',
            data: {
                message: "hello world",
                items: [
                    {
                        id: 1,
                        title: '课程1',
                        del: false
                    },
                    {
                        id: 2,
                        title: '课程2',
                        del: true
                    }
                ]
            }
        })
    </script>
</body>

</html>